/*
Logger Admin Styles
*/

/* Reverse the order of the content (left on top, meta boxes below) */
.post-type-ai_log #post-body {
  display: flex;
  flex-direction: column-reverse;
}

/* Force the post title to the top of the page */
.post-type-ai_log #post-body-content {
  order: 1;
}

/* Ensure tables are constrained and don't overflow the page */
.post-type-ai_log .ai-log-display table {
  table-layout: fixed;
}
.post-type-ai_log .ai-log-display table tbody td,
.post-type-ai_log .ai-log-display table thead th {
  width: 180px;
}

.post-type-ai_log .ai-log-display table tbody td + td,
.post-type-ai_log .ai-log-display table thead th + th {
  width: auto;
}

/* Style the <pre> tags */
.post-type-ai_log .ai-log-display pre {
  margin: 0;
}

.post-type-ai_log .ai-log-display pre:not([class*="language-"]) {
  background: rgba(0, 0, 0, 0.07);
  max-width: 100%;
  padding: 5px;
}

/* Style the backtrace */
.ai-log-backtrace details {
  border: 1px solid #ddd;
}

.ai-log-backtrace details:not(:last-child) {
  border-bottom: none;
}

.ai-log-backtrace details summary {
  border-bottom: 1px solid transparent;
  cursor: pointer;
  padding: 8px;
}

.ai-log-backtrace details[open] summary {
  border-bottom-color: #ddd;
}

.ai-log-backtrace details summary:hover {
  background: #f9f9f9;
}

.ai-log-backtrace details pre {
  margin: 0;
}

.ai-log-backtrace details p {
  padding: 10px;
  margin: 0;
}
