on:
  push:
    tags:
      - 'v*-built' # Create releases for built branches (eg. v2.0.8-built)

name: Create -built release

jobs:
  release:
    name: Create release
    runs-on: ubuntu-latest

    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Provided by Actions
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body: A version that contains Composer dependencies for use as a submodule.
          draft: false
          prerelease: true
